.footer{
    background: #e3edf6;
    padding: 60px;
    text-align: start;
}
.footer .detail .icon{
    list-style: none;
    display: flex;
    justify-content: center;
    
}
.footer .detail .icon li{
    margin.: 10px;
    border: 1px solid white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;

}
