.navbar input{
    width: 500px !important;
    border: 3px solid #0D6EFD;
    border-radius: 0px !important;
    outline: none !important;


}
.navbar input:focus{
    outline: none !important;
}
.navbar button{
    margin-left: -24px;
    border-radius: 0px !important;
    height: 41px;
}
@media (max-width:1200px) {
    .navbar button{
        margin-left: 0;
    }
    .navbar input{
        width: 260px !important;
    } 
}
.navbar svg{
    color: #0D6EFD;
    width: 20px;
    height: 20px;
}
.navbar a{
    margin-top: 2px;
}
.navbar a:hover{
    color: #0D6EFD;

}
.navbar p{
    width: max-content;
}
.navbar .auth button{
    background-color: white;
    border: none;
    margin: 5px;
}